/* Configuración  de parámetros */   
:root {
	--fondo: #fff;
	--fondo-secondary:#dedede;
	--texto: #454545;
	--texto-secondary: #808080;
	--tamanio_base: 0.8em;
}
* {
	margin: 0;
	padding: 0;
}*
body { 	
	font-size: var(--tamanio_base); 
	font-family: Tahoma,
		Arial,
		sans-serif;
	line-height: 1.6em; 
	background: var(--fondo); 
	color: var(--texto); 
}

/* encabezamientos */
h1 { 
	font-size: var(--tamanio_base * 4); 
	font-weight: bold;	
}
h2 { 
	font-size: var(--tamanio_base * 3);	
	font-weight: bold;
}
h1 a, h2 a { 
	color: var(--texto); 
	text-decoration: none; 
}
.title { 
	color: var(--texto-secondary); 	
}

/* listas y elementos de formulario */
ul { list-style : none; }

/* titular de contenido */
#content { 
	margin: 0px auto; 
	width: 960px; 
}

/* encabezamiento */
#logo p { 
	padding-left: 10px; 
	color: var(--fondo-secondary);
}
#logo>h1>a {
	color: var(--fondo);
}

/* menu con pestanas horizontales */	
#tabs { 
	padding-left: 15px;
	background: #fff url(imagenes/bigbox.gif) no-repeat top left; 
	height: 64px; 
	text-align: center;
	
}
#tabs li a { 
	float: left; 
	color: var(--texto-secondary); 
	padding: 7px 0; 
	width: 82px; 
	text-align: center; 
	font-weight: bold; 
	text-decoration: none; 
	background: linear-gradient(var(--fondo), #ccc);
	border-radius: 8px 8px 0px 0px;
	margin: 0px;
	border: 1px solid var(--texto);	
}
#tabs li a:hover { 
	background: linear-gradient(var(--fondo), #b9f5ce);
	color: var(--texto) 
}
.key { text-decoration: underline; }

/* Formulario de busqueda */
#search { 
	float: right;
	padding-right:10px ;
	padding-top: 10px;
	margin: 5px 0 0 0;
}

/* subtitulo gris */
.gbox { 
	background: var(--fondo-secondary); 
	color: var(--texto);
	padding: 20px; 
	margin: 10px 0 20px 0;
	border-radius: 10px;
}


/* lado izquierdo */
.left { 
	float: left; 
	width: 650px; 
}
.left_articles {
	margin: 10px;
	text-align: justify;		
}
.calendar { 
	height: 40px; 
	width: 50px;
	float: left; 
	background-color: var(--fondo-secondary);	
	text-align: center;
	padding-top: 10px;
	margin: 0px 5px 0px 5px;
	border-radius: 5px;
}
.calendar p { 
	background-color: var(--fondo);
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 2px;
}
/*
img {
	width: 100%;
	height: 100px;

}
*/
/* tercios inferiores */
.smallbox { 
	float: left;
	width: 180px;
	color: var(--texto-secondary); 
	padding: 10px;  
	border: 1px solid var(--texto);
	border-radius: 10px;
	box-shadow: 5px 5px var(--fondo-secondary) ;		
	margin: 0 12px 0 0;
}
.box {
	display: flex;
	overflow-x: auto;
}
/*justificacion del ancho de la columna de material de respaldo*/
.smallbox p {
	text-align: justify;
	min-width:100px;
}
/* modal */
#open-modal{
	width: 100%;
	position: fixed;
	background-color: var(--fondo-secondary);
	z-index: 999;
	height: 100%;	
}
#open-modal>div {
	width: 80%;
	height: 80%;
	margin-left: auto;
	margin-right: auto;
	background-color: var(--fondo);
	border-radius: 20px;
	box-shadow: 5px 5px var(--texto-secondary);
	padding: 10px;
	margin-top: 50px;
}
.ocultar-modal{
	display: none;
}
.mostrar-modal{
	display: block;
}
.separador {
	height: 0px;
}
@media screen and (max-width:956px) {
	#content {
		width: 100%;
	}
	.left {
		float: left;
		width: 70%;
	}
	#tabs {
		position: fixed;
		width: 100%;
		padding-right: 30px;
	}
	#tabs li a {
		float: left;
		padding: 5px 0;
		width: 70px;		
	}	
	.separador {
		height: 50px;
	}
}
@media screen and (max-width:500px)  {
	#content {
		width: 100%;		
	}
	.left {
		float: none;
		width: 100%;
	}
	#tabs li a {
		display: none;
	}
	#search {
		width: 100%;
		text-align: center;
	}
}
.redimensionar {
  max-width:90%;
  max-height:90%;
}
.calendari{
	float: right;
	width: 450px;
	height: 250px;
  text-align: center;
	background-color:#5B76FC  ;
 margin-top: 120px;
 border-style: solid;
 border-radius: 20px;


}
ol{
list-style:none;
display:grid;
grid-template-columns: repeat(7, 1fr);
margin: 20px;
padding: 0;


}
.first_day{
grid-column-start: 4;

}
.day-name{
background: #eee;
font-weight: bold;

}
.actual{
	background-color: black;
}